<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>HR application</title>
</head>
<body>

	<h1>List of employees</h1>
	
	<ul>
		<li th:each="employee : ${employees}">
			<span th:text="${employee.id}">id</span>
			<span th:text="${employee.name}">name</span>
			<span th:text="${employee.position}">position</span>
			<span th:text="${employee.salary}">salary</span>
			<span th:text="${employee.startDate}">startDate</span>
		</li>
	</ul>
	
	<form th:action="@{/employees}" method="post" th:object="${newEmployee}" >
		<table>
			<tr>
				<th>Id: </th>
				<th><input th:field="*{id}" /> </th>
			</tr>
			<tr>
				<th>Name: </th>
				<th> <input th:field="*{name}" /> </th>
			</tr>
			<tr>
				<th>Position: </th>
				<th><input th:field="*{position}" /> </th>
			</tr>
			<tr>
				<th>Salary: </th>
				<th><input th:field="*{salary}" /> <br/>
			</tr>
			<tr>
				<th>StartDate: </th>
				<th><input th:field="*{startDate}" /> </th>
			</tr>
		</table>
		
		<table style="width:18%">
			<tr>
				<th><input type="submit" value="Add" /> </th>
			</tr>
		</table>
	</form>

</body>
</html>